@import './Style/layout';
@import './Style/typography';
@import './style/navbar';

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    color: #6372a59d;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2rem ;
}